.recipies-container{
    display: flex;
    flex-direction: column;

    .recipies-container-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 30%;

        h1,
        .title-plus{
            font-size: 1.5em;
        }

    }
    .recipies-container-content{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 30%;

        img{
            width: 10vw;
            height: 15vh;
        }

        .recipies-container-content-text{
            justify-content: center;
            align-items: center;

            p{
                font-size: 1.4em;
            }
        }
    }
}